<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link href="{% static 'css/pts.css' %}" rel="stylesheet">
    <title>首页</title>
</head>
<body>
{% if user.is_authenticated %}
    <div class="row">
        <div id="score_area" class="score col-md-6 col-md-offset-3"></div>
    </div>
    <div class="row">
        <div id="question_area" class="col-md-6 col-md-offset-1">
            <input type="button" value="判卷" userid={{user.id}} class="btn btn-info judge">
            <a href={% url 'logout' %}>
                <button class="btn btn-danger">退出</button>
            </a>
            <ul>
                {% for question in questions %}
                    {# Eeach 'question' is a Question model objext #}
                    <li index="{{ forloop.counter }}">{{ forloop.counter }}.{{ question }}
                        <ul>
                            {% for answers in answers_list %}
                                {% for answer in answers %}
                                    {% ifequal answer.question_id question.id %}
                                        <li>
                                            <label><input type="radio" name="{{ forloop.parentloop.counter }}"
                                                          value="{{ answer.option }}"/>{{ answer.option }}:{{ answer.content }}
                                            </label>
                                        </li>
                                    {% endifequal %}
                                {% endfor %}
                            {% endfor %}
                            <input type="hidden" name="ro{{ forloop.counter }}" value="{{ question.rightOption }}"/>
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <input id="start_time" type="hidden" value="{{start_time}}">

            <input type="button" value="判卷" userid={{user.id}} class="btn btn-info judge">
            <a href={% url 'logout' %}>
                <button class="btn btn-danger">退出</button>
            </a>
        </div>
    </div>
{% else %}
    <p>请 <a href={% url 'login' %}>登录</a></p>
{% endif %}
<br>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/pts.js' %}"></script>
{% bootstrap_javascript %}
</body>
</html>