<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <title>首页</title>
</head>
<body>
{% if user.is_authenticated %}
    成功登录
    <form action="{% url 'question' %}" method="post">
        {% csrf_token %}
        输入每页显示的题量：<input type="text" name="each_page" value="1"/>
        <br>
        显示已经掌握的题目？<input type="checkbox"  name="display_master" checked/>
        </br>
        <input type="submit" value="开始练习" class="btn btn-info">
        <a href="{% url 'logout' %}">退出</a>
    </form>
{% else %}
    <p>请登录 <a href="{% url 'login' %}">退出</a></p>
{% endif %}
<br>
<script src="{% static 'js/jquery.js' %}"></script>
{% bootstrap_javascript %}
</body>
</html>