<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>配置页</title>
    {% bootstrap_css %}
</head>
<body>
{% if user.is_authenticated %}
    <!--
    成功登录
    <form action="{% url 'question' %}" method="post">
        {% csrf_token %}
        输入每页显示的题量：<input type="text" name="each_page" value="1"/>
        <br>
        显示已经掌握的题目？<input type="checkbox"  name="display_master" checked/>
        </br>
        <input type="submit" value="开始练习" class="btn btn-info">
        <a href="{% url 'logout' %}">退出</a>
    </form>
    -->
    <div class="well">
        <form class="form-horizontal" action="{% url 'question' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p class="form-actions">
                <input type="submit" value="开始" class="btn btn-primary">
            </p>
        </form>
    </div>
{% else %}
    <p>请登录 <a href="{% url 'login' %}">登录</a></p>
{% endif %}
<script src="{% static 'js/jquery.js' %}"></script>
{% bootstrap_javascript %}
</body>
</html>