<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link href="{% static 'css/pts.css' %}" rel="stylesheet">
    <title>首页</title>
</head>
<body>
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <ul>
                {% for question in questions %}
                    {# Each 'question' is a Question model objext #}
                    <li>{{ question.id }}.{{ question }}
                <span><label><input type="checkbox" class="master" id="question{{ question.id }}"
                                    qid="{{ question.id }}"
                                    userid="{{ user.id }}"
                        {% for k,v in status_dict.iteritems %}
                            {% ifequal  k   question.id %}
                                {% if v %}
                                    checked
                                {% endif %}
                            {% endifequal %}
                        {% endfor %}
                        />掌握
                </label></span>
                    </li>
                    <ul>
                        {% for answers in answers_list %}
                            {% for answer in answers %}
                                {% ifequal answer.question_id question.id %}
                                    <div id='{{ question.id }}{{ answer.option }}'>
                                        <li>
                                            <label><input type="radio" name="{{ question.id }}" class="option"
                                                          value="{{ answer.option }}"/>{{ answer.option }}:{{ answer.content }}
                                            </label>
                                        </li>
                                    </div>
                                {% endifequal %}
                            {% endfor %}
                        {% endfor %}
                        <input type="hidden" id="ans{{ question.id }}" value="{{ question.rightOption }}"/>
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div class="pagination">
            <span class="step-links">
                {% if questions.has_previous %}
                    <a href="?page={{ questions.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
                </span>

                {% if questions.has_next %}
                    <a href="?page={{ questions.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <a href={% url 'logout' %}>
            <button class="btn btn-danger">退出</button>
        </a>
        <a href="">
            <button class="btn btn-info">刷新题目</button>
        </a>
    </div>
{% else %}
    <p>请登录 <a href={% url 'login' %}>退出</a></p>
{% endif %}
<br>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/pts.js' %}"></script>
{% bootstrap_javascript %}
</body>
</html>