li{
    list-style : outside none none;
}

ul{
    padding-left: 10px;
}

.wrong-answer{
    color: red;
}

.lost-answer{
    color: #ff00ff;
}

.score{
    padding-top: 30px;
    font-size-adjust: 1;
    color: red;
}