<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>配置页</title>
    {% bootstrap_css %}
</head>
<body>
{% if user.is_authenticated %}
    <div class="container-fluid">
        <div>欢迎您，{{ user.username}}
            ;专业:{% if user.profile.specialty == 'XE'%}
                    机械
                {%elif user.profile.specialty == 'JX' %}
                    军械
                {%elif user.profile.specialty == 'TS' %}
                    特设
                {%elif user.profile.specialty == 'WX' %}
                    无线电
                {%endif%}
            ;职务:{% if user.profile.position == 'FDZ'%}
                    分队长以上
                {%elif user.profile.position == 'SHI' %}
                    师
                {%elif user.profile.position == 'YUAN' %}
                    员
                {%endif%}
            <a href={% url 'logout' %}>退出</a>
        </div>
        <div class="row-fluid">
            <div class="col-xs-5">
                <h3 class="text-center">
                    开始练习
                </h3>

                <form class="form-horizontal" action="{% url 'question' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <p class="form-actions">
                        <input type="submit" value="练习" class="btn btn-primary">
                    </p>
                </form>
            </div>
            <div class="col-xs-2" ></div>
            <div class="col-xs-5 ">
                <h3 class="text-center">
                    开始测试
                </h3>
                <form class="form-horizontal" action="{% url 'exam' %}" method="post">
                    {% csrf_token %}
                        <button type="submit" class="btn">测试</button>
                </form>
            </div>
        </div>
    </div>

{% else %}
    <p>请登录 <a href="{% url 'login' %}">登录</a></p>
{% endif %}
<script src="{% static 'js/jquery.js' %}"></script>
{% bootstrap_javascript %}
</body>
</html>